.xterm .xterm-viewport {
  overflow-y: auto !important;
}

.xterm .xterm-viewport::-webkit-scrollbar {
  width: 14px;
}

.xterm .xterm-viewport::-webkit-scrollbar-track {
  background: transparent;
}

.xterm .xterm-viewport::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 7px;
  border: 3px solid transparent;
  background-clip: padding-box;
}

.xterm .xterm-viewport::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
  border: 3px solid transparent;
  background-clip: padding-box;
}
